body {
  max-width: 150%;
  height: auto;
  vertical-align: middle;
  border: 0%;
} 

h1 {
  text-align: center;
}

#featured-property {
  text-align: center;
}

nav{
  text-align: center;
  padding: 10px;
}

#a1{
  background-color: grey;
}

figcaption{
  font-size: smaller;
}

#featured-property{
  text-align: center;
  padding: 20px 130px;
}

div{
  float: left;
  width: 25%;
  background-color: red;
}
